{{!< default}}

<div class="container wrapper">
  {{!-- Author Hero --}}
  {{#author}}
    <div class="author-header flex items-center">
      {{#if profile_image}}
        <figure class="author-header__media">
          <img class="lazyload is-round" 
            data-srcset="{{img_url profile_image size="xs"}} 100w,
                {{img_url profile_image size="s"}} 300w"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-sizes="auto"
            data-src="{{img_url profile_image size="s"}}"
            src="{{img_url profile_image size="xxs"}}"
            alt="{{name}}"/>
        </figure>
      {{/if}}
      <div class="author-header__content flex-1">
        <h1 class="author-header__title m-b-xs">{{name}}</h1>

        {{#if bio}}<div class="author-header__descr text-acc m-b">{{bio}}</div>{{/if}}

        <div class="author-header__details flex items-center">
          {{!-- Number of posts --}}
          <span class="text-09 fw-600">{{#plural ../pagination.total empty=(t 'No posts') singular=(t '1 post') plural=(t '% posts')}}{{/plural}}</span>
        
          {{!-- Author social links --}}
          <div class="author-card__social flex{{#if twitter}} has-twitter{{/if}}{{#if facebook}} has-facebook{{/if}}{{#if website}} has-website{{/if}}">
            {{!-- Twitter --}}
            {{#if twitter}}
              <a href="{{twitter_url}}" class=""
                title="Twitter" aria-label="Twitter"
                target="_blank" rel="noopener noreferrer">
                {{> icon name="twitter" size="sm"}}
              </a>
            {{/if}}
            {{!-- Facebook --}}
            {{#if facebook}}
              <a href="{{facebook_url}}" class=""
                title="Facebook" aria-label="Facebook"
                target="_blank" rel="noopener noreferrer">
                {{> icon name="facebook" size="sm"}}
              </a>
            {{/if}}
            {{!-- Author website --}}
            {{#if website}}
              <a href="{{website}}" class=""
                title="Website" aria-label="Website"
                target="_blank" rel="noopener noreferrer">
                {{> icon name="link" size="sm"}}
              </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/author}}


  {{#if posts}}
    {{!-- Posts --}}
    <div class="grid post-feed auto js-post-feed">
      {{#foreach posts}}
        {{> post-card 
          show_img=true 
          show_access=true
          show_excerpt=true
        }}
      {{/foreach}}
    </div>

    {{!-- Pagination --}}
    <div class="flex flex-cc m-t-xl m-b-lg">
      {{pagination}}
    </div>

    {{!-- Load more button --}}
    {{!-- <div class="col-xs-12 center-xs m-t-lg m-b-lg">
      <button class="btn btn--wide btn--shadow btn--filled js-load-more">
        {{t "Load more posts"}}
      </button>
    </div> --}}
  {{/if}}
</div>